/*!
 * The home button for the DuMuX presentation
 */
 .blackhomebutton {
     background-image: url( '../pics/home_button_black.png' );
     background-size: 60px 60px;
     background-color: transparent;
     color: white;
     font-size: 12px;
     height: 65px;
     width: 65px;
     position:fixed;
     right:0;
     top:0;
 }
 .whitehomebutton {
     background-image: url( '../pics/home_button_white.png' );
     background-size: 60px 60px;
     background-color: transparent;
     color: black;
     font-size: 12px;
     height: 65px;
     width: 65px;
     position:fixed;
     right:0;
     top:0;
 }
